body {
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* ----------HEADER------------ */

.header-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: #111;
}

.header-logo-italic {
  font-style: italic;
}

.header-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #111;
  letter-spacing: -0.02em;
}

/* ----------HERO------------ */

.hero {
  background-color: #1e1823;
}

.hero-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #fff;
}

.hero-btn-orange {
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
}

.hero-btn-shadow {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
}
.hero-btn-scroll {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #fff;
}

/* ----------FEATURES------------ */

.features {
  background-color: #1e1823;
}

.features-list {
}

.features-item {
}

.features-subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
}

.feature-description {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

/* ----------TEASTE------------ */
.taste {
  font-family: "Montserrat", sans-serif;
font-weight: 600;
font-size: 24px;

/* line-height: 28px; */ 
line-height: 117%;
letter-spacing: -0.03em;
text-transform: uppercase;
text-align: center;
color: #111;
}
.span-taste {
  color:  #fd9222;
} 
.taste-text {
  font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 14px;

/* line-height: 18px; */ 
line-height: 129%;
letter-spacing: -0.02em;
text-align: center;
color: #000;
}
.taste-img {
  width: 206px;
  height: 160px;

}
.teaste-title {
  font-family: "Montserrat", sans-serif;
font-weight: 600;
font-size: 18px;

/* line-height: 24px; */ 
line-height: 133%;
color: #111;
}
.teaste-text {
  font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 14px;

/* line-height: 18px; */ 
line-height: 129%;
letter-spacing: -0.02em;
color: #111;
}